body {
  font: 12px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square,
.square-tree,
.square-tent {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus,
.square-tree:focus,
.square-tent:focus {
  outline: none;
}

.square-tree {
  background: url("./img/if_Tree_2998115.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.square-tent {
  background: url("./img/if_tent_2799188.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.board-side {
  background: #fff;
  float: left;
  font-size: fit-width;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}
